.hello{
    background-color: burlywood;
}
body{
    background-color: #212424;
    padding: 10px;
    color: rgb(248, 247, 246);
    font-family:  sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
