{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Named Entity Recognition</h1>
    {% csrf_token %}
    <br>
    <form action="{% url 'result' %}" id="usrform">
        <textarea name="input_text" rows="10" cols="100" id="input_text" placeholder="Enter the text here..."></textarea>
        <br>
        <input type="submit">
        
            
    </form>
</body>
</html>